body{
    // Example to load images from stylus
    // background url('/public/assets/images/space.jpg') no-repeat center center
    background-size cover
    display flex
    font-size 16px
    overflow-x hidden
    width 100vw
}

*{
    box-sizing border-box
}

//////////////////////////////////////////////
// STYLES THAT APPLIES EVERYWHERE GOES HERE //
// EX: .hide, .align-center, etc            //
//////////////////////////////////////////////