///////////////////////
// ABSOLUTE POSITION //
///////////////////////
absoluto-l-t($left, $top, $translateX, $translateY){
    left $left
    position absolute
    top $top
    transform translate($translateX, $translateY)
}
absoluto-r-t($right, $top, $translateX, $translateY){
    position absolute
    right $right
    top $top
    transform translate($translateX, $translateY)
}
absoluto-l-b($left, $bottom, $translateX, $translateY){
    bottom $bottom
    left $left
    position absolute
    transform translate($translateX, $translateY)
}
absoluto-r-b($right, $bottom, $translateX, $translateY){
    bottom $bottom
    position absolute
    right $right
    transform translate($translateX, $translateY)
}

//////////////////
// DISPLAY FLEX //
//////////////////
flex-container( $align, $direction, $justify, $wrap ){

        align-items $align
        display flex
        flex-direction $direction
        flex-wrap $wrap
        justify-content $justify

}
flex-center(){

    align-items center
    display flex
    flex-direction row
    flex-wrap nowrap
    justify-content center

}