//////////////////////////////////////
// MIXINS CREATED FOR MEDIA QUERIES //
//////////////////////////////////////
/**
    ** Max width with a var defined on _vars.styl
    *! Example for implementation
    .myClass{
        +max-width($w-large){
            here goes everything inside
        }
    } 
*/
max-width($width)
    @media (max-width: $width)
        {block}


/**
    ** Max width with a var defined on _vars.styl
    *! Example for implementation
    .myClass{
        +min-width($w-large){
            here goes everything inside
        }
    } 
*/
min-width($width)
    @media (min-width: $width)
        {block}